:root {
    --border: #222;
    --displayBackground: rgb(185, 185, 185); 
    --buttonBackground: rgb(138, 138, 138);
    --calcBackground: rgb(236, 236, 236);
}


#calcContainer {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--border);
    background-color: var(--calcBackground);
    width: 350px;
    margin: auto;
    
}

#buttonContainer {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    
}

#display {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    font-size: 60px;
    
    
}

.Buttons {
    
}

h2 {
    text-align: center;
}