:root {
    --border: rgb(163, 163, 163);
    --displayBackground: rgb(185, 185, 185); 
    --buttonBackground: rgb(214, 214, 214);
    --calcBackground: rgb(247, 247, 247);
    --displayBorder: rgb(163, 163, 163);
    --operatorBackground: rgb(192, 230, 236);
    --clearBackground: rgb(231, 185, 185);
    --EraseBackground: rgb(198, 241, 163);
}


#calcContainer {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--border);
    background-color: var(--calcBackground);
    width: 310px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    
}

#buttonContainer {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    
    
}

#display {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    font-size: 60px;
    border-bottom: 2px solid var(--displayBorder);
    
}
#divisionButton {
    background-color: var(--operatorBackground);
}

#multiplicationButton {
    background-color: var(--operatorBackground);
}

#subtractionButton {
    background-color: var(--operatorBackground);
}

#additionButton {
    background-color: var(--operatorBackground);
}

#clearButton {
    background-color: var(--clearBackground);
}

#eraseButton {
    background-color: var(--EraseBackground);
}

.Buttons {
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
    border: none;
    padding: 20px;
    background-color: var(--buttonBackground);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}



h2 {
    text-align: center;
}